<div class="container">

  <h2>Edit user:</h2>

  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :profile_image %>
      <%= f.text_field :profile_image, :class => 'form-control' %>
    </div>

    <a href="/update-user" data-method="post" class="btn btn-primary">Update</a>
  <% end %>


</div>
