<h1>User: <%= @current_user.username %></h1>

<% if @current_user.team %>
  <h2><%= @current_user.team.name %></h2>

  <a href="#" id="dash-home">Dashboard</a>
  <a href="#" id="dash-team">Team</a>
  <a href="#" id="dash-league">League</a>
  <a href="#" id="dash-transfers">Transfers</a>

<% end %>

<%= link_to 'Log out', login_path, :method => 'delete' %>

<% if @current_user.is_admin? %>
  <p>you're the admin user, congratulations!</p>
<% end %>

<hr>

<div id="main"></div>

<!-- Templates for generating the setup process for new users -->

<script type="x-underscore-template" id="pickLeague-template">
  <h1>Leagues:</h1>
  <div id="leagues"></div>
  <button id="add-league">Add new league</button>
</script>

<script type="x-underscore-template" id="leagueListView-template">

    <p>{{ name }}</p>
    <p>{{ nation }}</p>
    <p>Teams: {{ size }}</p>

</script>

<script type="x-underscore-template" id="addLeagueView-template">
  <form>
    <label for="name">Name:</label>
    <input type="text" name="name" id="league-name">

    <label for="emblem">Emblem:</label>
    <input type="url" name="emblem" id="league-emblem">

    <label for="nation">Nation:</label>
    <input type="text" name="nation" id="league-nation">

    <label for="size">No. of teams:</label>
    <input type="number" name="size" id="league-size">

    <button id="submit-league-form">Create league</button>
  </form>
</script>

<script type="x-underscore-template" id="generatingLeague-template">
  <div>(put the loading animation here if there is time)</div>
</script>


<!-- League show templates -->
<script type="x-underscore-template" id="showLeague-template">
  <div id="league-info">
    <h1>{{ name }}</h1>
    <h2>{{ nation }}</h2>
  </div>
  <div id="teams"></div>

  <button id="back-to-league-selection">Back to leagues</button>
</script>

<script type="x-underscore-template" id="teamListView-template">

    <p>{{ name }}</p>
    <p>ID: {{ id }}</p>
    <p>League ID: {{ league_id }}</p>
    <p>{{ bank_balance }}</p>

</script>


<!-- Dashboard home template -->

<script type="x-underscore-template" id="dashHomeView-template">
  <div id="team-info">
    <img src="{{ team.emblem }}" alt="" id="team-emblem">
    <h2 id="user-team-name"></h2>
    <h4>Bank balance: <%= @current_user.team.bank_balance %></h4>
    <h4>Total value: {{ team.total_value }}</h4>
  </div>

  <div id="next-game-info">
    <h3>(put the opponent's name here)</h3>
    <h4>(opponent's league position)</h4>
    <h4>(match date/countdown)</h4>
    <img src="(opponent's team crest)" alt="">
  </div>

  <div id="finances">
    <div id="finance-chart">
      <!-- add in the d3 for finances here -->
    </div>
  </div>

  <div id="form">
    <!-- form stuff to go here -->
  </div>

  <div id="team-rating">
    <div id="rating-disc"></div>
    <div id="hisorical-rating-graph"></div>
  </div>

  <div id="team-stats">
    <h3>(top scorer with icon here)</h3>
    <h3>(most assists with icon here)</h3>
    <h3>(most yellow cards with icon here)</h3>
    <h3>(most red cards with icon here)</h3>
  </div>
</script>

<!-- Dashboard team template -->
<script type="x-underscore-template" id="dashTeamView-template">
  <div id="info-div">
    <img src="(the team's emblem)" alt="">
    <h1><%= @current_user.team.name %></h1>
    <h2><%= @current_user.team.league_position %>th in <%= @current_user.team.league.name %></h2>
  </div>

  <div id="tactics-settings">
    <label for="passing">Passing:</label>
    <select id="passing">
      <option value="short">short</option>
      <option value="balanced">balanced</option>
      <option value="long">long</option>
    </select>

    <label for="tackling">Tackling:</label>
    <select id="tackling">
      <option value="light">light</option>
      <option value="balanced">balanced</option>
      <option value="hard">hard</option>
    </select>

    <label for="tempo">Tempo:</label>
    <select id="tempo">
      <option value="slow">slow</option>
      <option value="balanced">balanced</option>
      <option value="fast">fast</option>
    </select>

    <label for="Formation">Formation:</label>
    <select id="formation">
      <option value="4-4-2">4-4-2</option>
      <option value="4-3-3">4-3-3</option>
      <option value="4-5-1">4-5-1</option>
      <option value="4-1-2-1-2">4-1-2-1-2</option>
      <option value="4-1-4-1">4-1-4-1</option>
    </select>
  </div>

  <div id="players">
    <table>
      <colgroup span="4" class="columns"></colgroup>
      <tr>
        <th>Name</th>
        <th>Nationality</th>
        <th>Position</th>
        <th>Age</th>
        <th>Attack</th>
        <th>Defence</th>
        <th>Value</th>
      </tr>
      <% @current_user.team.players.each do |player| %>
        <tr>
          <td><%= player.first_name %> <%= player.last_name %></td>
          <td><%= player.nationality %></td>
          <td><%= player.position %></td>
          <td><%= player.age %></td>
          <td><%= player.attack_rating %></td>
          <td><%= player.defence_rating %></td>
          <td><%= player.value %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div id="pitch"></div>
</script>


<script type="x-underscore-template" id="dashLeagueView-template">
  <div id="league-table">
    <table>
      <colgroup span="4" class="columns"></colgroup>
        <tr>
          <th>Position</th>
          <th>Team</th>
          <th>P</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>F</th>
          <th>A</th>
          <th>GD</th>
          <th>Pts</th>
        </tr>
        <% @current_user.team.league.teams.each do |team| %>
          <tr>
            <td><%= team.league_position %></td>
            <td><%= team.name %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
    </table>
  </div>
</script>











