<% if @current_user %>
  <script>
    var app = app || {};
    app.currentUser = <%== @current_user.to_json %>;
    <% if @current_user.team %>
      app.userLeague = <%== @current_user.team.league.to_json %>;
      app.userTeam = <%== @current_user.team.to_json %>;
      app.userTeamPlayers = <%== @current_user.team.players.to_json %>
      app.userTactic = <%== @current_user.team.tactic.to_json %>;
    <% end %>
  </script>
<% end %>

<div class="container">
  <div id="main"></div>
</div>

<!-- Dashboard home template -->

<script type="x-underscore-template" id="dashHomeView-template">
  <div class="row">

    <div id="team-info" class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Team Info</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-6" style="height: 211px;">
            <h2><b id="team-name">{{ name }}</b></h2>
            <p>Manager: <%= @current_user.username.capitalize %></p>
            <br>
            <br>
            <div id="team-recent-results">
              <h3 id="recent-results"></h3>
            </div>
          </div>
          <div class="col-md-6 text-right">
            <img class="emblem" src="{{ emblem }}" alt="" id="team-emblem">
          </div>
        </div>
      </div>
    </div>

    <div id="team-rating" class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Team Rating</h3>
        </div>
        <div class="panel-body">
          <h1 class="col-md-2" style="line-height: 28px">{{ overall_rating }}</h1>
          <h3 id="star-rating" class="col-md-10"></h3>
        </div>
      </div>
    </div>

    <div id="form" class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Form</h3>
        </div>
        <div class="panel-body">
          <h2 class="col-md-4">{{ form_rating }}/100</h2>
          <div class="col-md-8">
            <div class="form-bar-container" style="margin-top: 8.5%; width: 100%; height: 20px; border: 2px solid #33691e; border-radius: 15px; padding: 0;">
              <div id="form-bar-fill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div id="finances" class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Finances</h3>
        </div>
        <div class="panel-body text-center">
          <div style="height: 205px; padding-top: 15px;">
            <div class="col-md-12">
              <h4>Bank balance:</h4>
              <h3 id="home-balance">{{ bank_balance }}</h4>
            </div>

            <div class="col-md-12">
              <h4>Total squad value:</h4>
              <h3 id="home-value">{{ total_value }}</h4>
            </div>
        </div>
        </div>
      </div>
    </div>

    <div id="matches" class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Matches</h3>
        </div>
        <div class="panel-body">
          <div id="matches-played" class="text-center" style="height: 205px; overflow: auto;"></div>
        </div>
      </div>
    </div>

    <div id="team-stats" class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Team Stats</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
            <br>
            <h4>Goals: {{ goals_for }}</h4>
            <h4>Matches played: {{ played }}</h4>
            <h4>Wins: {{ win }}</h4>
            <h4>Draws: {{ draw }}</h4>
            <h4>Losses: {{ loss }}</h4>
          </div>
            <div id="wld-chart" class="col-md-6">
              <canvas id="wldChart" width="200" height="200"></canvas>
            </div>
        </div>
      </div>
    </div>

  </div>
</script>



<script type="x-underscore-template" id="matchListView-template">
  <div class="row">
    <div class="home text-left col-md-5">
      <span class="home-team"><b>{{ home_team }}</b></span>
    </div>

    <div class="score col-md-2" style="margin-left: -15px;">
      <span class="badge">{{ home_goals }} - {{ away_goals }}</span>
    </div>

    <div class="away text-right col-md-5">
      <span class="away-team"><b>{{ away_team }}</b></span>
    </div>
  </div>

  <hr>
</script>



<!-- Dashboard team template -->

<script type="x-underscore-template" id="dashTeamView-template">
  <div id="tactics-left" class="col-md-7">

    <div id="tactics-settings" class="text-center">
      <div class="form-group col-md-3">
        <label for="passing">Passing:</label>
        <select id="passing" class="form-control">
          <option selected="selected"></option>
          <option value="short">short</option>
          <option value="balanced">balanced</option>
          <option value="long">long</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="tackling">Tackling:</label>
        <select id="tackling" class="form-control">
          <option selected="selected"></option>
          <option value="light">light</option>
          <option value="balanced">balanced</option>
          <option value="hard">hard</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="tempo">Tempo:</label>
        <select id="tempo" class="form-control">
          <option selected="selected"></option>
          <option value="slow">slow</option>
          <option value="balanced">balanced</option>
          <option value="fast">fast</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="Formation">Formation:</label>
        <select id="formation" class="form-control">
          <option selected="selected"></option>
          <option value="4-4-2">4-4-2</option>
          <option value="4-3-3">4-3-3</option>
          <option value="4-5-1">4-5-1</option>
          <option value="4-1-2-1-2">4-1-2-1-2</option>
          <option value="4-1-4-1">4-1-4-1</option>
        </select>
      </div>
    </div>

    <div id="players">
      <table class="table table-condensed">
        <colgroup span="4" class="columns"></colgroup>
        <thead id="player-list">
          <tr>
            <th>Name</th>
            <th>Nationality</th>
            <th>Position</th>
            <th>Age</th>
            <th>Attack</th>
            <th>Defence</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody id="player-list"></tbody>
      </table>
    </div>

  </div>

  <div id="tactics-right" class="col-md-5">
    <div id="pitch">
      <img id="pitch-graphic" src="" alt="" style="width: 100%">
    </div>
  </div>
</script>

<!-- Player list template -->

<script type="x-underscore-template" id="playerListView-template">
    <td>{{ first_name }} {{ last_name }}</td>
    <td>{{ nationality }}</td>
    <td>{{ position }}</td>
    <td>{{ age }}</td>
    <td>{{ attack_rating }}</td>
    <td>{{ defence_rating }}</td>
    <td class="player-value">{{ value }}</td>
</script>

<!-- Dashboard league template -->

<script type="x-underscore-template" id="dashLeagueView-template">
  <h1 id="league-name"></h1>
  <div id="league-table">
    <table class="table tablesorter" id="league-standings">
      <thead>
        <tr>
          <th>Position</th>
          <th>Team</th>
          <th>P</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>F</th>
          <th>A</th>
          <th>GD</th>
          <th>Pts</th>
        </tr>
      </thead>
      <tbody id="league-standing-list"></tbody>
    </table>
  </div>
</script>

<script type="x-underscore-template" id="leagueStandingListView-template">
  <td class="league-position">{{ league_position }}</td>
  <td>{{ name }}</td>
  <td>{{ played }}</td>
  <td>{{ win }}</td>
  <td>{{ draw }}</td>
  <td>{{ loss }}</td>
  <td>{{ goals_for }}</td>
  <td>{{ goals_against }}</td>
  <td>{{ goal_difference }}</td>
  <td>{{ points }}</td>
</script>

<!-- Dash settings template -->

<script type="x-underscore-template" id="dashSettingsView-template">
  <div class="col-md-6 text-center" style="margin-top: 15em">
    <button id="team-settings-button" class="btn btn-default" style="padding: 2em">Team Settings</button>
  </div>

  <div class="col-md-6 text-center" style="margin-top: 15em">
    <button id="user-settings-button" class="btn btn-default" style="padding: 2em">User Settings</button>
  </div>
</script>


<script type="x-underscore-template" id="teamSettingsView-template">
  <form>
    <div class="form-group">
      <label for="team-name">Name:</label>
      <input type="text" name="team-name" id="team-name" class="form-control">
    </div>

    <div class="form-group">
      <label for="team-emblem">Emblem URL:</label>
      <input type="text" name="team-emblem" id="team-emblem" class="form-control">
    </div>

    <button id="team-settings-back" class="btn btn-default">Back to settings</button>
    <button class="btn btn-primary" id="team-submit">Save</button>
  </form>
</script>

<script type="x-underscore-template" id="userSettingsView-template">
  <form>
    <div class="form-group">
      <label for="profile-image">Profile Image URL:</label>
      <input type="text" name="profile-image" id="profile-image" class="form-control">
    </div>

    <button id="user-settings-back" class="btn btn-default">Back to settings</button>
    <button id="user-submit" class="btn btn-primary">Save</button>
  </form>
</script>
