<!DOCTYPE html>
<html>
<head>
  <title>FootballManagerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <!-- in application.html.erb (or elsewhere) -->
  <script>
    var app = app || {};
    app.currentUser = <%== @current_user.to_json %>;
    app.userTeam = <%== @current_user.team.to_json %>;
    app.userLeague = <%== @current_user.team.league.to_json %>;
    app.userTactic = <%== @current_user.team.tactic.to_json %>;
  </script>

</body>
</html>
