<!DOCTYPE html>
<html>
<head>
  <title>FootballManagerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b>Football Manager</b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if @current_user && @current_user.team %>
          <!-- add in class="active" to the <li> tags to get the idea you're on a certain page -->
          <li><a href="#" id="dash-home"><i class="fa fa-futbol-o"></i> Dashboard</a></li>
          <li><a href="#" id="dash-team"><i class="fa fa-users"></i> Team</a></li>
          <li><a href="#" id="dash-league"><i class="fa fa-trophy"></i> League</a></li>
          <li><a href="#" id="dash-settings"><i class="fa fa-wrench"></i> Settings</a></li>
        <% end %>
      </ul>
      <!-- Quick fix for the login predicament. Duplication here, needs to be cleaned up. -->
      <% if @current_user && @current_user.team %>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="color: steelblue; font-size: 15pt;"><b><%= @current_user.username.capitalize %></b>: <%= @current_user.team.name %></a></li>
        <li>
          <%= link_to login_path, :method => 'delete' do %>
            <p><i class="fa fa-sign-out"></i> Sign out</p>
          <% end %>
        </li>
      </ul>
      <% elsif @current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li><a style="color: steelblue; font-size: 15pt;"><b><%= @current_user.username.capitalize %></b></a></li>
          <li>
            <%= link_to login_path, :method => 'delete' do %>
              <p><i class="fa fa-sign-out"></i> Sign out</p>
            <% end %>
          </li>
        </ul>
      <% else %>
        <%= form_tag login_path, :method => 'post', :class => "navbar-form navbar-right" do %>
          <div class="form-group form-group-sm">
            <%= text_field :username, nil, :autofocus => :true, :class => "form-control", :placeholder => "Username" %>
          </div>
          <div class="form-group form-group-sm">
            <%= password_field_tag :password, nil, :class => "form-control", :placeholder => "Password" %>
          </div>
          <button class="btn btn-default btn-sm">Sign in</button>
        <% end %>

        <% if flash[:error].present? %>
          <p class="text-right error-msg"><%= flash[:error] if flash[:error].present? %></p>
        <% end %>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <%= yield %>
</div>
  <!-- in application.html.erb (or elsewhere) -->



</body>
</html>
